h1{
    position: absolute;
    /* z-index: 100; */
    left: 50%;
    top: 50%;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#gallery{
    overflow: hidden;
    width: 150%;
    height: 150vh;
}
body{
    overflow: hidden;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.title{
    position: absolute;
}

img:hover{
    opacity: 1;
}

.title:nth-child(1){
    /* position: absolute; */
    background-color: rgb(192, 64, 206);
    width: 15%;
    height: 20%;
    left: 2%;
    top: 5%;
}
.title:nth-child(2){
    /* position: absolute; */
    background-color: rgb(10, 168, 192);
    width: 10%;
    height: 35%;
    left: 38%;
    top: 5%;
}
.title:nth-child(3){
    /* position: absolute; */
    background-color: rgb(184, 168, 77);
    width: 18%;
    height: 15%;
    left: 50%;
    top: 80%;
}
.title:nth-child(4){
    /* position: absolute; */
    background-color: rgb(40, 242, 155);
    width: 20%;
    height: 25%;
    left: 54%;
    top: 37%;
}
.title:nth-child(5){
    /* position: absolute; */
    background-color: rgb(215, 109, 47);
    width: 10%;
    height: 15%;
    left: 60%;
    top: 15%;
}
.title:nth-child(6){
    /* position: absolute; */
    background-color: rgb(78, 76, 76);
    width: 10%;
    height: 15%;
    left: 5%;
    top: 70%;
}
.title:nth-child(7){
    /* position: absolute; */
    background-color: rgb(102, 51, 61);
    width: 10%;
    height: 15%;
    left: 78%;
    top: 50%;
}
.title:nth-child(8){
    /* position: absolute; */
    background-color: rgb(217, 142, 37);
    width: 15%;
    height: 25%;
    left: 20%;
    top: 20%;
}
.title:nth-child(9){
    /* position: absolute; */
    background-color: rgb(39, 105, 36);
    width: 10%;
    height: 15%;
    left: 40%;
    top: 55%;
}
.title:nth-child(10){
    /* position: absolute; */
    background-color: rgb(255, 0, 238);
    width: 15%;
    height: 15%;
    left: 75%;
    top: 75%;
}
.title:nth-child(11){
    /* position: absolute; */
    background-color: rgb(155, 232, 252);
    width: 10%;
    height: 15%;
    left: 3%;
    top: 45%;
}
.title:nth-child(12){
    /* position: absolute; */
    background-color: rgb(139, 113, 79);
    width: 10%;
    height: 25%;
    left: 77%;
    top: 12%;
}
.title:nth-child(13){
    /* position: absolute; */
    background-color: rgb(236, 194, 67);
    width: 10%;
    height: 15%;
    left: 22%;
    top: 65%;
}